{% extends "base.html" %} {% block title %}Index{% endblock %}

{% block content %}
<header>
    <div class="container-fluid text-center content"> 
       <h1 class="display-3 siteText mt-5 mb-3">Welcome to Festivly {{user.firstName}}</h1>
       <p class="lead pb-4 siteText">A Recommender Application to improve your taste in Movies.</p>
       <p><a href="/recommender" class="btn btn-primary btn-lg siteText" role="button">Learn More</a></p>
    </div>
</header>
<section id="services" class="container">
    <h3 class="display-5 text-center mt-5 mb-5">Our Services</h3>
   
   <div class="row text-center">
      <div class="col-md-6 mb-6">
         <div class="card h-100">
            <img class="card-img-top" src="../static/img/image1.jpg" alt="Design">
            <div class="card-body">
               <h4 class="card-title">Accuracy</h4>
               <p class="card-text">Deliver the best user experience 
               with our carefully designed alogorithims to accurately return clear recommendations!</p>
            </div>
         </div>
      </div>
      
      <div class="col-md-6 mb-6">
         <div class="card h-100">
            <img class="card-img-top" src="../static/img/image3.jpg" alt="Development">
            <div class="card-body">
               <h4 class="card-title">Design</h4>
                  <p class="card-text">Easy User Interface to make your time on this application as efficient as possible!</p>
            </div>
         </div>
      </div>
</section>
{% endblock %}